
      <h1 style="text-align:center; padding-top: 20px"><b><font size= "50px">ABS</font></b></h1>
      <head>
         <style>
            * {
            box-sizing: border-box;
            }
            .column {
            float: left;
            width: 33.33%;
            padding: 5px;
            }
            /* Clearfix (clear floats) */
            .row::after {
            content: "";
            clear: both;
            display: table;
            }
         </style>

      </head>
      <body>
         <center>
            <h3>Forearm Plank</h3>
         </center>
         <center>
         <iframe width="560" height="315" src="https://www.youtube.com/embed/s6coxb732BA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>	
         <p style="line-height: 3;">1) Assume a push-up position but bend your arms at your elbows so your weight rests on your forearms<br> 2) Tighten your abs, clench your glutes and keep your body straight from head to heels<br> 3) Hold as long as you can.
         <center>
            <h3>Russian Twistk</h3>
         </center>
         <center>
         <iframe width="560" height="315" src="https://www.youtube.com/embed/wkD8rjkodUI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>		
         <p style="line-height: 3;">1) Lie down with your legs bent at the knees<br> 2) Elevate your upper body so that it creates a V shape with your thighs<br> 3) Twist your torso to the right, and then reverse the motion, twisting it to the left <br> 4) Repeat this movement until the set is complete. Proper Form And Breathing Pattern
         <center>
            <h3>Bicycle Kick</h3>
         </center>
         <center>
         <iframe width="560" height="315" src="https://www.youtube.com/embed/UZZhuJACZJM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
         <p style="line-height: 3;">1)Start lying flat on your back, legs fully extended, and both hands behind the head<br> 2) From here, bring both hands behind the head and raise the shoulders off the floor.<br> 3) Next bring your right knee toward your chest and simultaneously rotate your shoulders to bring the left elbow to toward the right knee <br> 4) Make sure to keep the leg that isn't bending fully extended and low to the floor to get the best engagement <br> 5) After touching the right knee to the left elbow, rotate your shoulder and bring the left knee to the right elbow. Perform these movements slowly and controlled for the best core-burning results 
   </body>
