
      <!--Workout links-->
      <h1 style="text-align:center; padding-top: 20px"><b><font size= "50px">BACK</font></b></h1>
      <head>
         <style>
            * {
            box-sizing: border-box;
            }
            .column {
            float: left;
            width: 33.33%;
            padding: 5px;
            }
            /* Clearfix (clear floats) */
            .row::after {
            content: "";
            clear: both;
            display: table;
            }
         </style>
    
      </head>
      <!--Workouts-->
      <body>
         <center>
            <h3>Pull-Ups</h3>
         </center>
         <center>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/eGo4IYlbE5g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p style="line-height: 3;">1) Exhale while pulling yourself up so your chin is level with the bar. Pause at the top.
               <br>
               2) Lower yourself (inhaling as you go down) until your elbows are straight.
               <br>
               3) Repeat the movement without touching the floor.
               <br>
               4) Complete the number of repetitions your workout requires.
            </p>
         </center>
         <br>
         <br>
         <center>
            <h3>Seated Rows</h3>
         </center>
         <center>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/GZbfZ033f74" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p style="line-height: 3;">
               1) Sit on the floor, legs together in front of you.
               <br>
               2) Exhale and pull the band until your hands are over your thighs, keeping your elbows tucked in and your back neutral.
               <br>
               3) Inhale and slowly extend your arms, counting to three.
            </p>
         </center>
         <br>
         <br>
         <center>
            <h3>Bent Over Rows</h3>
         </center>
         <center>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/vT2GjY_Umpw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p style="line-height: 3;">1) Hold onto a barbell with your palms facing down.
               <br>
               2) While keeping your torso stationary, lift the barbell toward you.
               <br>
               3) Slowly lower the barbell back to the starting position.
               <br>
               4) Repeat the process for the number of repetitions in your workout routine.
            </p>
         </center>
         <br>
         <br>
         <center>
            <h3>Lat Pulldowns</h3>
         </center>
         <center>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/lueEJGjTuPQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p style="line-height: 3;">1) Sit at a lat pulldown station and grab the bar with an overhand grip that's just beyond shoulder width. 
               <br>
               2) Your arms should be completely straight and your torso upright.
               <br>
               3) Pull your shoulder blades down and back, and bring the bar to your chest. 
               <br>
               4) Pause, then slowly return to the starting position.
            </p>
         </center>
         <br>
         <br>
         <center>
            <h3>Reverse Flys (Machine)</h3>
         </center>
         <center>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/T_dkYUgQLCY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p style="line-height: 3;">1) Start standing with your feet hip-width apart. 
               <br>
               2) Holding a dumbbell in each arm, bring your arms straight out in front of you. 
               <br>
               3) Slowly spread your arms apart to a T-shape. Move slowly and with control.
               <br>
               4) With control, bring your arms back to the parallel position. Repeat the exercise.
            </p>
         </center>
         <br>
         <br>
         <center>
            <h3>Deadlifts</h3>
         </center>
         <center>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/7Q_GnXm7LbI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p style="line-height: 3;">1) Stand with your mid-foot under the barbell
               <br>
               2) Bend over and grab the bar with a shoulder-width grip
               <br>
               3) Bend your knees until your shins touch the bar
               <br>
               4) Lift your chest up and straighten your lower back
               <br>
               5)Take a big breath, hold it, and stand up with the weight
            </p>
         </center>
         <br>
         <br>
   </body>
