
      <!--Workout links-->
      <h1 style="text-align:center; padding-top: 20px"><b><font size= "50px">Biceps</font></b></h1>
      <head>
         <style>
            * {
            box-sizing: border-box;
            }
            .column {
            float: left;
            width: 33.33%;
            padding: 5px;
            }
            /* Clearfix (clear floats) */
            .row::after {
            content: "";
            clear: both;
            display: table;
            }
         </style>
         <style>
            p {
            border: 1px solid black;
            background-color: white;
            padding-top: 0px;
            padding-right: 30px;
            padding-bottom: 20px;
            padding-left: 80px;
            }
         </style>
      </head>
      <center>
         <h3>Standing Bicep Curls</h3>
      </center>
      <center>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/ykJmrZ5v0Oo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <p style="line-height: 3;">1)Stand up straight while holding a barbell in a shoulder-width grip
         <br> 
         2) Contract your biceps to curl the weight forward. Your upper arms should remain stationary during this process
         <br> 
         3) Continue moving the barbell until the biceps are fully contracted and the bar is at shoulder height. 
         <br>
         4)Hold this position for a second and then squeeze your biceps
         <br>
         5) Bring the barbell back to the starting position. Repeat for the desired number of reps.
         <br>
         <br>
      <center>
         <h3>Seated Bicep Curls</h3>
      </center>
      <center>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/BsULGO70tcU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <p style="line-height: 3;">1 Sitting on a bench, hold a pair of dumbbells at your sides with your arms fully extended and your palms facing forward
         <br> 
         2) Without moving your upper arms, bend your elbows and curl the dumbbells to your shoulders. Pause, then lower the weights to the starting position
         <br>
         <br>
      <center>
         <h3>Incline Bicep Curls</h3>
      </center>
      <center>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/soxrZlIl35U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <p style="line-height: 3;">1) Sit down against the workout bench, keeping your back straight and your abdominal muscles tight
         <br> 
         2) When you've gotten the starting position down, lift each dumbbell, palms up, toward your shoulders
         <br> 
         3) Slowly lower the dumbbells back down to your starting position
         <br>
         <br>
      <center>
         <h3>Concentrated Bicep Curls</h3>
      </center>
      <center>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/Jvj2wV0vOYU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <p style="line-height: 3;">1) Sit in a chair with your feet flat, your knees spread wide, and a dumbbell in your right hand
         <br> 
         2) Bend forward and brace the back of your right elbow against the inside of your right knee. 
         <br>
         3)Your right arm should hanging straight down, with your right palm facing your left leg
         <br> 
         4)Keeping your upper body still and elbow against your knee, curl the weight toward your shoulder with your palm facing upward
         <br>
         5)Pause and then reverse the movement to return to the starting position
         <br>
         6) Do all of your reps, switch sides, and repeat, performing an equal number of reps with each arm
         <br>
         <br>
   </body>
</html>