
      <h1><b><br>Bulking(Gaining Weight)</b></h1>
      <h4>Monday(Back)</h4>
      <p>5 x 8 Barbell Shrug,
         5 x 8 Dumbbell Raise,
         3 x 8 Deadlift,
         5 x 8 Bent Over-Rows,
         3 x 6 Pull-Ups
      </p>
      <h4>Tuesday(Chest)</h4>
      <p>5 x 6 Bench Press,
         5 x 8 Pec Flys,
         5 x 6 Incline Bench,
         5 x 8 Decline Dumbbell Bench Press
      </p>
      <h4>Wednesday(Legs)</h4>
      <p> 3 x 8 Barbell Squat,
         5 x 8 Leg Extension,
         5 x 8 Dumbbell Lunges,
         3 x 8 Front Squats,
         3 x 10 Calves Raises
      </p>
      <h4>Thursday(Shouders/Arms)</h4>
      <p> 3 x 8 Military Press,
         5 x 8 EZ Bar Bicep Curls,
         5 x 8 Overhead Tricep Extensions,
         3 x 8 Chin-Ups
      </p>
      <h4>Friday</h4>
      <p>Rest Day</p>
      <h4>Saturday</h4>
      <p>Rest Day</p>
      <h4>Sunday</h4>
      <p>Rest Day</p>