
      <!--Workout links-->
      <h1 style="text-align:center; padding-top: 20px"><b><font size= "50px">CHEST</font></b></h1>
      <head>
         <style>
            * {
            box-sizing: border-box;
            }
            .column {
            float: left;
            width: 33.33%;
            padding: 5px;
            }
            /* Clearfix (clear floats) */
            .row::after {
            content: "";
            clear: both;
            display: table;
            }
         </style>
       
      </head>
      <!--Workouts-->
      <body>
         <center>
            <h3><BR>Bench Press</h3>
         </center>
         <center>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/gRVjAtPip0Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p style="line-height: 3;">1) Lay flat on bench and make sure eyes are under the bar<br> 2) Press your feet firmly into the ground and make sure to never lift your hips off of the bench<br> 
               3) Grab the bar and make sure the grip is just outside shoulder length <br> 4) Lift bar and make sure it is directly over your shoulders <br> 5) Bring the bar down to your chest and push up. MAKE SURE NOT TO FLARE OUT YOUR ELBOWS!!!
            </p>
         </center>
         <br>
         <br>
         <center>
            <h3>Incline Bench Press</h3>
         </center>
         <center>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/dtNXLavPFo0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p style="line-height: 3;">1) Lay flat on bench and make sure eyes are under the bar<br> 2) Press your feet firmly into the ground and make sure to never lift your hips off of the bench<br> 
               3) Grab the bar and make sure the grip is just outside shoulder length <br> 4) Lift bar and make sure it is directly over your shoulders <br> 5) Bring the bar down to your chest and push up. (Same steps as regular bench press)
            </p>
         </center>
         <br>
         <br>
         <center>
            <h3>Seated Pec Flys</h3>
         </center>
         <center>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Z57CtFmRMxA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p style="line-height: 3;">1) Adjust seat to where arms are parallel with chest<br> 2) Grab handles and make sure palms are facing forward<br> 
               3) Poke your chest out and press your arms together in front of your chest (make sure arms are straight) <br> 4) Once arms are closed in front of your chest, pause for a second then release <br> 
            </p>
         </center>
         <br>
         <br>
         <center>
            <h3>Decline Dumbell Press</h3>
         </center>
         <center>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/0xRvl4Qv3ZY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p style="line-height: 3;">1) Make sure back is stabilized on the bench<br> 2) Grab dumbells and push until there is a lockout at the top<br> 
               3) Slowly lower the dumbbells under control as far as comfortably possible and push again<br> 
            </p>
         </center>
         <br>
         <br>
   </body>
</html>