
      <h1><b><br>Cutting(Losing Weight)</b></h1>
      <h4>Monday</h4>
      <p>Lower body (Squats: 4x10-12, leg press: 4x12-15, leg extension: 4x15-20, hamstring curls: 4x10-12, calf raises: 4x20), abs </p>
      <h4>Tuesday</h4>
      <p>Upper body: Pull ups(could be assisted): 3x8-10, dips(could be assisted): 3x8-10, bench press: 4x10-12 , seated rows: 4x12-15 , tricep pulldowns(rope): 4x12-15 , standing bicep curls(dumbbells): 4x10-15, overhead press: 3x10-12, rear-delt flys: 4x15-20</p>
      <h4>Wednesday</h4>
      <p>Rest Day</p>
      <h4>Thursday</h4>
      <p>Lower body (Deadlifts: 4x10-12, weights lunges: 10 each leg, box jumps: 3x10-12, leg press: 4x12-15, leg extension: 4x15-20, hamstring curls: 4x10-12, calf raises: 4x15-20, hip adductors/abductors:  4x10-15, abs </p>
      <h4>Friday</h4>
      <p>Upper body: Bent-over barbell rows: 3x8-10, dips(could be assisted): 3x8-10, incline press: 4x10-12 , seated rows: 4x12-15 , Over-head tricep extentions(rope): 4x12-15 , Incline bicep curls(dumbbells): 4x10-15, overhead press: 3x10-12, Side laterals: 4x12-15</p>
      <h4>Saturday</h4>
      <p>Rest Day</p>
      <h4>Sunday</h4>
      <p>Rest Day</p>
   </body>