
      <h3 style="text-align:center; padding-top: 20px"><b><font size= "50px">What are your body goals?</font></b></h3>
      <head>
         <style>
            * {
            box-sizing: border-box;
            }
            .column {
            float: left;
            width: 33.33%;
            padding: 5px;
            }
            /* Clearfix (clear floats) */
            .row::after {
            content: "";
            clear: both;
            display: table;
            }
         </style>
      </head>
      <body>
         <div class="row">
            <div class="column">
               <font size= "5px">&emsp;&emsp;<a href="https://05daff7e971f4daab2db59f54188bd80.vfs.cloud9.us-east-2.amazonaws.com/pages/cutting-calc">Lose Weight & Cut</a></font>
               <img src="https://36iusc2tb88y2g492si2bqd1-wpengine.netdna-ssl.com/wp-content/uploads/2020/01/girl-losing-weight.jpg" alt="Snow" height= 275px style="width:100%">
            </div>
            <div class="column">
               <font size= "5px">&emsp;<a href="https://05daff7e971f4daab2db59f54188bd80.vfs.cloud9.us-east-2.amazonaws.com/pages/maintenance-calc">Maintaining Body Weight</a></font>
               <img src="https://www.muscleandfitness.com/wp-content/uploads/2017/12/1109-6-tips-abs-main.jpg?quality=86&strip=all" alt="Forest" height= 275px style="width:100%">
            </div>
            <div class="column">
               <right><font size= "5px">&emsp;&emsp;<a href="https://05daff7e971f4daab2db59f54188bd80.vfs.cloud9.us-east-2.amazonaws.com/pages/bulk-calc">Gain Weight & Bulk </a></font></right>
               <img src="https://imageresizer.static9.net.au/e745uiy3ILV0F8WEJuYKHNWvCow=/1200x1200/https%3A%2F%2Fprod.static9.net.au%2F_%2Fmedia%2FNetwork%2FImages%2FBulking-up-160511.jpg" alt="Mountains" height= 275px style="width:100%">
            </div>
         </div>