
      <!--Workout links-->
      <h1 style="text-align:center; padding-top: 20px"><b><font size= "50px">LEGS</font></b></h1>
      <head>
         <style>
            * {
            box-sizing: border-box;
            }
            .column {
            float: left;
            width: 33.33%;
            padding: 5px;
            }
            /* Clearfix (clear floats) */
            .row::after {
            content: "";
            clear: both;
            display: table;
            }
         </style>
         <style>
            p {
            border: 1px solid black;
            background-color: white;
            padding-top: 20px;
            padding-right: 30px;
            padding-bottom: 20px;
            padding-left: 80px;
            }
         </style>
      </head>
      <!--Workouts-->
      <body>
         <center>
            <h3>Squats</h3>
         </center>
         <center>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/gslEzVggur8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p style="line-height: 3;">1) Stand with feet a little wider than hip width, toes facing front.
               <br>
               2) Drive your hips back—bending at the knees and ankles and pressing your knees slightly open—as you…
               <br>
               3) Sit into a squat position while still keeping your heels and toes on the ground, chest up and shoulders back.
               <br>
               4) Strive to eventually reach parallel, meaning knees are bent to a 90-degree angle.
               <br>
               5) Press into your heels and straighten your legs to return to a standing upright position.
            </p>
         </center>
         <br>
         <br>
         <center>
            <h3>Leg Press</h3>
         </center>
         <center>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Xz-ShYjH5QA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p style="line-height: 3;">1) Brace your abdominal muscles and push the platform away with your heels and forefoot. 
               <br>
               2) Your heels should remain flat on the footplate. 
               <br>
               3) The front of your foot or toes should never be used exclusively to move the pad forward.
               <br>
               4) While exhaling, extend your legs and keep your head and back flat against the seat pad. 
               <br>
               5) Extend with slow control rather than with an explosive movement.
               <br>
               6) Pause at the top of the movement. Do not lock out your knees and ensure that they are not bowing out or in.
               <br>
               7) While inhaling, return the footplate to the starting position by gradually bending the knees. Keep the feet and back flat throughout.
            </p>
         </center>
         <br>
         <br>
         <center>
            <h3>Leg Extensions</h3>
         </center>
         <center>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/swZQC689o9U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p style="line-height: 3;">1) Sit on the chair with your back straight and against the back of the seat and hold the side handles.
               <br>
               2) Put your shins behind the padded bar (or roller) and position your feet so that they’re facing forward. 
               <br>
               3) Raise the padded bar by extending your quads to straighten your legs.
               <br>
               4) Once your legs are extended, hold this position for one second whilst squeezing your quads.
               <br>
               5) Slowly lower the padded bar back down towards the starting position without letting the weight stop.
            </p>
         </center>
         <br>
         <br>
         <center>
            <h3>Hamstring Curls</h3>
         </center>
         <center>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/q1cKTmaeQWo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p style="line-height: 3;">1) Make sure back is stabilized on the bench<br> 2) Grab dumbells and push until there is a lockout at the top<br> 
               3) Slowly lower the dumbbells under control as far as comfortably possible and push again<br> 
            </p>
         </center>
         <br>
         <br>
         <center>
            <h3>Calve Raises</h3>
         </center>
         <center>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/eMTy3qylqnE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p style="line-height: 3;">1) (ONLY IF DOING WEIGHTED) Stand upright holding two dumbbells by your sides and your shoulders back.
               <br>
               2) Place the balls of your feet on an exercise step or a weight plate. Make sure your heels aren't touching the floor.
               <br>
               3)With your toes pointing forwards, raise your heels off the floor and contract your calves.
            </p>
         </center>
         <br>
         <br>
         <center>
            <h3>Deadlifts</h3>
         </center>
         <center>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/7Q_GnXm7LbI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p style="line-height: 3;">1) Stand with your mid-foot under the barbell
               <br>
               2) Bend over and grab the bar with a shoulder-width grip
               <br>
               3) Bend your knees until your shins touch the bar
               <br>
               4) Lift your chest up and straighten your lower back
               <br>
               5)Take a big breath, hold it, and stand up with the weight
            </p>
         </center>
         <br>
         <br>
         <center>
            <h3>Weighted Lunges</h3>
         </center>
         <center>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/D7KaRcUTQeE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p style="line-height: 3;">1) Inhale and take a big step forward with your right leg, landing on the heel.<br> 2) Bend at the knee until the right thigh approaches parallel to the ground, but without letting the right knee go past the tip of the toes. The left leg is bent at the knee and balanced on the toes while in the lunge position<br> 
               3)Step the right foot back on an exhale to return to the starting position and repeat<br> 
            </p>
         </center>
         <br>
         <br>
         <center>
            <h3>Hip Abductors</h3>
         </center>
         <center>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/h9BqUMqK-SY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p style="line-height: 3;">1) Stand with your mid-foot under the barbell
               <br>
               2) Bend over and grab the bar with a shoulder-width grip
               <br>
               3) Bend your knees until your shins touch the bar
               <br>
               4) Lift your chest up and straighten your lower back
               <br>
               5)Take a big breath, hold it, and stand up with the weight
            </p>
         </center>
         <br>
         <br>
   </body>
