
      <h1><b><br>Maintaining</b></h1>
      <h4>Push</h4>
      <p>Bench: 5x8-10, incline bench: 4x8-10, overhead press: 3x 8-10, cable side laterals: 4x 12-15, tricep pushdowns: 4x10, overhead tricep extensions: 4x10</p>
      <h4>Pull</h4>
      <p> Pull-ups : 3x8-10, seated rows: 4x10-12, lat pull downs: 4x8-10, Reverse flys :5x10-12, seated bicep curls: 4x10-12, incline curls: 4x8-10, Concentration bicep curls: 4x10-12</p>
      <h4>Leg</h4>
      <p>Squats: 5x8, Leg Press: 4x10 , Leg extensions: 4x8-10 , hamstring curls:4x10-12, calves raises: 4x15-20, weighted lunges: 4x10-12 each leg</p>
      <h4>Core</h4>
      <p> Forearm Plank: 3x1 minute, Russian twist: 20, bicycles: 4x30</p>