
      <!--Workout links-->
      <h1 style="text-align:center; padding-top: 20px"><b><font size= "50px">SHOULDERS</font></b></h1>
      <head>
         <style>
            * {
            box-sizing: border-box;
            }
            .column {
            float: left;
            width: 33.33%;
            padding: 5px;
            }
            /* Clearfix (clear floats) */
            .row::after {
            content: "";
            clear: both;
            display: table;
            }
         </style>
   
      </head>
      <body>
         <center>
            <h3>Overhead Press</h3>
         </center>
         <center>
         <iframe width="560" height="315" src="https://www.youtube.com/embed/2yjwXTZQDDI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>	
         <p style="line-height: 3;">1) Grasp a barbell with hands wider than shoulder width apart and your palms facing down
            <br> 
            2) Keep your feet shoulder width apart and your knees slightly bent
            <br> 
            3) Raise the barbell to your chest and then overhead and slightly forward for your starting position
            <br>
            4) Inhale as you slowly lower the bar back to your chest
            <br>
            5) Exhale as you slowly raise the bar back overhead to the starting position
            <br> 
            6) Repeat for a complete set
            <br>
            <br>
         <center>
            <h3>Cable Side Laterals</h3>
         </center>
         <center>
         <iframe width="560" height="315" src="https://www.youtube.com/embed/PPrzBWZDOhA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>	
         <p style="line-height: 3;">1) Stand next to the pulley machine with your feet shoulder-width apart
            <br> 
            2) To maintain good posture, push your chest forward, and point your shoulders back while slightly bending both knees.
            <br> 
            3) Slightly bend your elbow to a 10- to 30-degree angle and raise your arm sideways until it’s level with your shoulder
            <br>
            4) Avoid rotating your arm as you raise the stirrup, and keep your focus on the area you want to train  your middle shoulder
            <br>
            5) Hold your position for 1–5 seconds, and then inhale while slowly lowering the weight back. Let the cable come to a complete stop before beginning the next repetition
            <br> 
            6) Do at least 10–15 reps per set for each arm.
            <br>
            <br>
         <center>
            <h3>Rear Delt Flys(Machine)</h3>
         </center>
         <center>
         <iframe width="560" height="315" src="https://www.youtube.com/embed/K-ilBw_D1a4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>	
         <p style="line-height: 3;">1) Sit on the pad facing the rear delt machine and plant your feet firmly on the ground. Your chest should be pressed up against the chest pad and your back should be straight
            <br> 
            2) Grab the inside horizontal handles with your palms facing down. Your arms should be slightly bent
            <br> 
            3) Contract your rear deltoids to bring the handles back until they are roughly in line with your shoulders
            <br>
            4) Squeeze your rear delts hard in this position and slowly return to the starting position
            <br>
            5) Repeat!
            <br>
            <br>
   </body>
</html>