<html>
   <title>W3.CSS Template</title>
   <meta charset="UTF-8">
   <div class="w3-bar w3-white w3-wide w3-padding w3-card">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <style>
      body,h1,h2,h3 {font-family: "Lato", sans-serif;}
      body, html {
      height: 100%;
      color: #777;
      line-height: 1.8;
      }
      /* Create a Parallax Effect */
      .w3-wide {letter-spacing: 3px;}
      .w3-hover-opacity {cursor: pointer;}
   </style>
   <body>
      <!--<Navbar (sit on top) -->
      <div class="w3-top w3-white">
         <div class="w3-bar" id="myNavbar">
            <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
            <i class="fa fa-bars"></i>
            </a>
            <a href="#jozfitness" class="w3-bar-item ">JOZ-Fitness</a>
            <a href="https://05daff7e971f4daab2db59f54188bd80.vfs.cloud9.us-east-2.amazonaws.com/pages/home" class="w3-bar-item w3-button ">HOME</a>
            <a href="https://05daff7e971f4daab2db59f54188bd80.vfs.cloud9.us-east-2.amazonaws.com/pages/workouts" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-anchor"></i> WORKOUTS</a>
            <a href="https://05daff7e971f4daab2db59f54188bd80.vfs.cloud9.us-east-2.amazonaws.com/pages/login" class="w3-bar-item w3-button w3-hide-small w3-right"><i class="fa fa-desktop"></i> LOGIN</a>
            <!--<a href="https://05daff7e971f4daab2db59f54188bd80.vfs.cloud9.us-east-2.amazonaws.com/pages/signup" class="w3-bar-item w3-button w3-hide-small w3-right"><i class="fa fa-user"></i> SIGN UP</a> -->
            <a href="https://05daff7e971f4daab2db59f54188bd80.vfs.cloud9.us-east-2.amazonaws.com/pages/goals" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-calculator"></i> MACRO</a>
         </div>
         <!-- Navbar on small screens -->
         <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
            <a href="#about" class="w3-bar-item w3-button" onclick="toggleFunction()">ABOUT</a>
            <a href="#portfolio" class="w3-bar-item w3-button" onclick="toggleFunction()">PORTFOLIO</a>
            <a href="#contact" class="w3-bar-item w3-button" onclick="toggleFunction()">CONTACT</a>
            <a href="#" class="w3-bar-item w3-button">SEARCH</a>
         </div>
      </div>
      <!--Workout links-->
      <h1 style="text-align:center; padding-top: 20px"><b><font size= "50px">Triceps</font></b></h1>
      <head>
         <style>
            * {
            box-sizing: border-box;
            }
            .column {
            float: left;
            width: 33.33%;
            padding: 5px;
            }
            /* Clearfix (clear floats) */
            .row::after {
            content: "";
            clear: both;
            display: table;
            }
         </style>
         <style>
            p {
            border: 1px solid black;
            background-color: white;
            padding-top: 20px;
            padding-right: 30px;
            padding-bottom: 20px;
            padding-left: 80px;
            }
         </style>
      </head>
      <center>
         <h3>Dips</h3>
      </center>
      <center>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/dX_nSOOJIsE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <p style="line-height: 3;">1) Grab the parallel bars and jump up, straighten your arms
         <br> 
         2) Lower your body by bending your arms while leaning forward
         <br> 
         3) Dip down until your shoulders are below your elbows
         <br>
         4) Lift your body up by straightening your arms
         <br>
         5) Lock your elbows at the top
      <center>
         <h3>Tricep Pushdowns</h3>
      </center>
      <center>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/2-LAMcpzODU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <p style="line-height: 3;">1) Start by bracing your abdominals
         <br> 
         2) Tuck your elbows in at your sides and position your feet slightly apart
         <br> 
         3) Inhale. Push down until your elbows are fully extended but not yet in the straight, locked position. Keep your elbows close to your body and bend your knees slightly on the pushdown. Resist bending forward. Try to keep your back as straight as possible as you push down
         <br>
         4) As you exhale, return to the starting point using a controlled movement. Try not to crash the weights
      <center>
         <h3>Overhead Tricep extension</h3>
      </center>
      <center>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/ns-RGsbzqok" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <p style="line-height: 3;">1) Connect the rope attachment and set the cable pulley at the top of the pole. Turn to face away from the cable pulley
         <br> 
         2) Inhale. While keeping your shoulders as still as possible, bend your elbows to bring the ends of the rope back behind your head
         <br> 
         3)Exhale. Using your triceps, extend your elbows and pull the rope forwards to return to the starting position, ensuring that you maintain the same bent-over position and that your shoulders, elbows and wrists remain in line with one another at all times. Repeat for the specified number of repetitions