
      <!--Workout links-->
      <h1 style="text-align:center; padding-top: 20px"><b><font size= "50px">WORKOUTS</font></b></h1>
      <head>
         <style>
            * {
            box-sizing: border-box;
            }
            .column {
            float: left;
            width: 33.33%;
            padding: 5px;
            }
            /* Clearfix (clear floats) */
            .row::after {
            content: "";
            clear: both;
            display: table;
            }
         </style>
      </head>
      <body>
         <div class="row">
            <div class="column">
               <font size= "40px">&emsp; &emsp;<a href="/pages/chest">Chest</a></font>
               <img src="https://www.t-nation.com/wp-content/uploads/2018/10/How-to-REALLY-Spot-the-Bench-Press.jpg" alt="Snow" height= 375px style="width:100%">
            </div>
            <div class="column">
               <font size= "40x"> &emsp; &emsp; <a href="/pages/back">Back</a></font>
               <img src="https://images.wallpaperscraft.com/image/single/pullups_man_workout_121789_1280x1280.jpg" alt="Forest" height= 375px style="width:100%">
            </div>
            <div class="column">
               <right><font size= "40px"> &emsp; <a href="/pages/shoulders">Shoulders</a></font></right>
               <img src="https://cdn.shopify.com/s/files/1/1633/7705/files/benefits_of_overhead_press_480x480.jpg?v=1630731131" alt="Mountains" height= 375px style="width:100%">
            </div>
         </div>
         <div class="row">
            <div class="column">
               <font size= "40px">&emsp; &emsp;<a href="/pages/biceps">Biceps</a></font>
               <img src="https://d3h9ln6psucegz.cloudfront.net/wp-content/uploads/2009/06/Best-of-Biceps.jpg" alt="Snow" height= 375px style="width:100%">
            </div>
            <div class="column">
               <font size= "40x">&emsp; &emsp;<a href="/pages/triceps">Triceps</a></font>
               <img src="https://ignorelimits.com/wp-content/uploads/2020/06/back-and-triceps-workout-guide.jpg" alt="Forest" height= 375px style="width:100%">
            </div>
            <div class="column">
               <right><font size= "40px">&emsp; &emsp;<a href="/pages/legs">Legs</a></font></right>
               <img src="https://freerangestock.com/sample/138393/gym.-man-doing-leg-workout.-black-and-white.jpg" alt="Mountains" height= 375px style="width:100%">
            </div>
         </div>
         <div class="row">
            <div class="column">
            </div>
            <div class="column">
               <font size= "40px">&emsp; &emsp; <a href="/pages/abs">Abs</a></font>
               <img src="https://www.mensjournal.com/wp-content/uploads/mf/21dayshred_main.jpg?quality=86&strip=all" alt="Snow" height= 375px style="width:100%">
            </div>
         </div>
   </body>